body{
    text-align: center;
    font-family: Tahoma;
    background-color: #ffffff;
    color: #000000;
}

h1{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h2{
    color: rgb(0, 0, 0);
}

span{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

div{
        border-top: 1px solid #e5e5e5;
    text-align: center;
    padding: 50px;
}

a {
    background: #53c153;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
   }